<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Web-final project</title>

	<script src="https://kit.fontawesome.com/13c267004c.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="video-container">
			<video src="video/background_video.mp4" autoplay loop muted preload="auto"></video>
			<div class="blackout"></div>
		</div>
		<div class="menu-container">
			<div class="menu">
				<div class="logo">
					<img src="img/header/drupal-coder.svg" alt="">
				</div>
				<ul>
					<li><a href="#support">Поддержка сайтов</a></li>
					<li><a href="#plans">Тарифы</a></li>
					<li><a href="#cases">Наши работы</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#webform">Контакты</a></li>
				</ul>
				<div class="contact">
					8 800 222-26-73
				</div>
				<div class="lang">
					<span id="selected-language">RU</span>
					<span id="arrow-down">
						<i class="fa-solid fa-chevron-down" id="mobile-menu-icon"></i> 
					</span>
					<div id="dropout-menu-li">
						<div id="dropout-menu-outter">
							<ul>
								<li><p class="language-option" data-lang="RU">RU</p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="navpanel">
					<span id="bars">
						<i class="fa-solid fa-bars"></i>
					</span>
					<div id="mobile-menu-outter">
						<ul>
							<li><a href="#support">Поддержка сайтов</a></li>
							<li><a href="#plans">Тарифы</a></li>
							<li><a href="#cases">Наши работы</a></li>
							<li><a href="#reviews">Отзывы</a></li>
							<li><a href="#webform">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="data-container">
			<div class="text">
				<h1>Поддержка<br>сайтов на Drupal</h1>
				<p>Сопровождение и поддержка сайтов<br>на CMS Drupal любых версий и запущенности</p>
				<div class="button-container">
					<a href="#plans" class="button">ТАРИФЫ</a>
				</div>
			</div>
			<div class="achievements">
				<div class="achievement">
					<div class="cup-container">
						<h2 class="main-text" id="main-text-big">
							#1
						</h2>
						<img src="img/header/cup.png" alt="">
					</div>
					<p class="additional-text">
						Drupal-разработчик<br>в России по версии Рейтинга Рунета
					</p>
				</div>
				<div class="achievement">
					<h2 class="main-text">
						3+
					</h2>
					<p class="additional-text">
						средний опыт специалистов более<br>3 лет
					</p>
				</div>
				<div class="achievement">
					<h2 class="main-text">
						14
					</h2>
					<p class="additional-text">
						лет опыта в сфере<br>Drupal
					</p>
				</div>
				<div class="achievement">
					<h2 class="main-text">
						200+
					</h2>
					<p class="additional-text">
						модулей и тем<br>в формате DrupalGive
					</p>
				</div>
				<div class="achievement">
					<h2 class="main-text">
						35 000+
					</h2>
					<p class="additional-text">
						часов поддержки<br>сайтов на Drupal
					</p>
				</div>
				<div class="achievement">
					<h2 class="main-text">
						200+
					</h2>
					<p class="additional-text">
						Проектов<br>на поддержке
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="services">
		<div class="services-container">
			<div class="services_head_container">
				<div class="services_head">
					<h1><b> 13 лет<br>совершенствуем<br>компетенции в Drupal<br>поддержке!</b></h1>
				</div>
				<div class="services_subhead">
					<p>Разрабатываем и оптимизируем модули,<br>расширяемфункциональность сайтов,<br>обновляем дизайн</p>
				</div>
			</div>
			<div class="services_body">
					<div class="services_elements">
						<img src="img/service/competency-1.svg" height="100" width="100" alt="">
						<p>Добавление<br>информации на сайт,<br>создание новых<br>разделов</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-2.svg" height="100" width="100" alt="">
						<p>Разработка<br>и оптимизация<br>модулей сайта</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-3.svg" height="100" width="100" alt="">
						<p>Интеграция с CRM,<br>1С, платёжными<br>системами, любыми<br>веб-сервисами </p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-4.svg" height="100" width="100" alt="">
						<p>Любые доработки<br>функционала<br>и дизайна</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-5.svg" height="100" width="100" alt="">
						<p>Аудит и мониторинг<br>безопасности Drupal<br>сайтов</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-6.svg" height="100" width="100" alt="">
						<p>Миграция, импорт<br>контента и апгрейд<br>Drupal</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-7.svg" height="100" width="100" alt="">
						<p>Оптимизация<br>и ускорение<br>Drupal-сайтов</p>
					</div>
					<div class="services_elements">
						<img src="img/service/competency-8.svg" height="100" width="100" alt="">
						<p>Веб-маркетинг,<br>консультации<br>и работы по SEO</p>
					</div>
			</div>
		</div>
	</div>
	<div class="support" id="support">
		<div id="company-support">
			<div id="support-header-outter">
				<br></br>
				<h1>Поддержка<br>от Drupal-coder</h1>
			</div>
			<div id="support-cards">
				<div class="support-card">
					<div class="support-card-number"><span>01.</span></div>
					<div class="support-card-header"><h3>Постановка задачи по<br>Email</h3></div>
					<div class="support-card-text"><p>
						Удобная и привычная<br>модель постановки задач,<br>при которой задачи<br>фиксируются и никогда<br>не теряются.
					</p></div>
					<div class="support-card-img"><img src="img/support/support1.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>02.</span></div>
					<div class="support-card-header"><h3>Система Helpdesk -<br>отчётность,<br>прозрачность</h3></div>
					<div class="support-card-text"><p>
						Возможность посмотреть<br>все заявки в работе<br>и отработанные часы<br>в личном кабинете через<br>браузер.
					</p></div>
					<div class="support-card-img"><img src="img/support/support2.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>03.</span></div>
					<div class="support-card-header"><h3>Расширенная<br>техническая<br>поддержка</h3></div>
					<div class="support-card-text"><p>
						Возможность организации<br>расширенной<br>техподдержки с 6:00<br>до 22:00 без выходных.
					</p></div>
					<div class="support-card-img"><img src="img/support/support3.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>04.</span></div>
					<div class="support-card-header"><h3>Персональный<br>менеджер проекта</h3></div>
					<div class="support-card-text"><p>
						Ваш менеджер проекта<br>всегда в курсе текущего<br>состояния проекта<br>и в любой момент готов<br>ответить на любые<br>вопросы.
					</p></div>
					<div class="support-card-img"><img src="img/support/support4.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>05.</span></div>
					<div class="support-card-header"><h3>Удобные способы<br>оплаты</h3></div>
					<div class="support-card-text"><p>
						Безналичный расчет по<br>договору или<br>электронные деньги:<br>WebMoney, Яндекс.Деньги,<br>Paypal.
					</p></div>
					<div class="support-card-img"><img src="img/support/support5.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>06.</span></div>
					<div class="support-card-header"><h3>Работаем с SLA<br>и NDA</h3></div>
					<div class="support-card-text"><p>
						Работа в рамках<br>соглашений<br>о конфиденциальности<br>и об уровне качества<br>работ.
					</p></div>
					<div class="support-card-img"><img src="img/support/support6.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>07.</span></div>
					<div class="support-card-header"><h3>Штатные<br>специалисты</h3></div>
					<div class="support-card-text"><p>
						Надежные штатные<br>специалисты, никаких<br>фрилансеров.
					</p></div>
					<div class="support-card-img"><img src="img/support/support7.svg" alt=""></div>
				</div>
				<div class="support-card">
					<div class="support-card-number"><span>08.</span></div>
					<div class="support-card-header"><h3>Удобные каналы<br> связи</h3></div>
					<div class="support-card-text"><p>
						Консультации по<br>телефону, скайпу,<br>в месенджерах.
					</p></div>
					<div class="support-card-img"><img src="img/support/support8.svg" alt=""></div>
				</div>
			</div>
		</div>
		<div id="company-experience">
			<div id="bg-exp">
			</div>
			<div id="laptop-img-outter">
				<img src="img/experience/laptop.png" alt="">
			</div>
			<div id="company-experience-content">
				<div id="comp-exp-header">
					<h1>Экспертиза в Drupal,<br>опыт 14 лет!</h1>
				</div>
				<div id="comp-exp-body">
					<div class="comp-exp-feature"><p>Только системный подход -<br>контроль версий,<br>резервирование<br>и тестирование!</p></div>
					<div class="comp-exp-feature"><p>Только Drupal сайты,<br>не берем на поддержку<br>сайты на других CMS!</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="plans-container">
		<div class="plans">
			<div class="tariffs">
				<br></br>
				<h2>Тарифы</h2>
			</div>
			<div class="cards" id="plans">
				<div class="card">
					<div class="card-name-price" id="start-card">
						<h2>Стартовый</h2>
						<p>2000 <i class="fa-solid fa-ruble-sign"></i></p>
						<b>в час</b>
					</div>
					<div class="card-body-items">
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Предоплата от 2 часов</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Консультации и работы по SEO</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Услуги дизайнера</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Стандартное время реакции</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Неиспользованные<br>оплаченные часы переносятся<br>на следующий месяц</p>
						</div>
					</div>
					<div class="card-button">
						<button>
							Оставить заявку!
						</button>
					</div>
				</div>
				<div class="card active" id="main-card">
					<div class="card-name-price">
						<h2>Бизнес</h2>
						<p>2000 <i class="fa-solid fa-ruble-sign"></i></p>
						<b>в час</b>
					</div>
					<div class="card-body-items">
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Предоплата от 10 часов</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Консультации и работы по SEO</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Услуги дизайнера</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Высокое время реакции -<br>до 2 рабочих дней</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Неиспользованны часы<br> не переносятся</p>
						</div>
					</div>
					<div class="card-button">
						<button>
							Оставить заявку!
						</button>
					</div>
				</div>
				<div class="card" id="card-vip">
					<div class="card-name-price">
						<h2>VIP</h2>
						<p>1800 <i class="fa-solid fa-ruble-sign"></i></p>
						<b>в час</b>
					</div>
					<div class="card-body-items">
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Предоплата от 100 часов</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Консультации и работы по SEO</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Услуги дизайнера</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Максимальное время<br>реакции - в день обращения</p>
						</div>
						<div class="card-body-item">
							<span><i class="fa-solid fa-check"></i></span>
							<p>Неиспользованны часы<br> не переносятся</p>
						</div>
					</div>
					<div class="card-button">
						<button>
							Оставить заявку!
						</button>
					</div>
				</div>
			</div>
			<div class="individual-plan">
				<p>Вам не подходят наши тарифы? Оставьте заявку, и<br>мы предложим вам<br>индивидуальные условия!</p>
				<a href="">ПОЛУЧИТЬ ИНДИВИДУАЛЬНЫЙ ТАРИФ</a>
			</div>
		</div>
	</div>
	<div class="cases" id="cases">
		<div id="latest-cases-header-outter">
			<h1>Последние кейсы</h1>
		</div>
		<div id="latest-cases-cards">
			<div class="case type1 separate-thumbnail">
				<div class="case-photo">
					<img src="/WebProject/img/case/case2.jpg" height="180" width="180" alt="">
				</div>
			</div>
			<div class="case type2">
				<div class="case-photo">
					<img src="/WebProject/img/case/case3.jpg" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
						<div class="case-title">
							<h3 class="text-light">Настройка выгрузки YML для Яндекс.Маркета</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="case type1">
				<div class="case-photo">
					<img src="/WebProject/img/case/case1.png" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
						<div class="case-title">
							<h3 class="text-light">Настройка выгрузки YML для Яндекс.Маркета</h3>
						</div>
						<div class="case-date">
							<span>22.04.2019</span>
						</div>
					</div>
				</div>
			</div>
			<div class="case type1">
				<div class="case-photo">
					<img src="/WebProject/img/case/case5.png" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
						<div class="case-title">
							<h3 class="text-light">Настройка выгрузки YML для Яндекс.Маркета</h3>
						</div>
						<div class="case-date">
							<span>22.04.2019</span>
						</div>
					</div>
				</div>
			</div>
			<div class="case type1 separate-thumbnail">
				<div class="case-photo">
					<img src="/WebProject/img/case/case4.png" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
					</div>
				</div>
			</div>
			<div class="case type2">
				<div class="case-photo">
					<img src="/WebProject/img/case/case3.jpg" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
						<div class="case-title">
							<h3 class="text-light">Настройка выгрузки YML для Яндекс.Маркета</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="case type1">
				<div class="case-photo">
					<img src="/WebProject/img/case/case1.png" alt="">
				</div>
				<div class="case-content">
					<div class="case-content-inner">
						<div class="case-title">
							<h3 class="text-light">Настройка выгрузки YML для Яндекс.Маркета</h3>
						</div>
						<div class="case-date">
							<span>22.04.2019</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="show-more-cases-button-outter">
			<button type="button" id="show-more-cases">ПОКАЗАТЬ ЕЩЁ</button>
		</div>
	</div>
	<div class="team">
		<div class="team-head">
			<h2>Команда</h2>
		</div>
		<div class="team-container">
			<div class="human">
				<img src="img/worker/IMG_2472_0.jpg" height="180" width="180" alt="">
				<h2>Сергей</h2>
				<p>руководитель поддержки,<br>планирование задач</p>
			</div>
			<div class="human">
				<img src="img/worker/IMG_2474_1.jpg" height="180" width="180" alt="">
				<h2>Роман</h2>
				<p>инфраструктура веб-проектов</p>
			</div>
			<div class="human">
				<img src="img/worker/IMG_2522_0.jpg" height="180" width="180" alt="">
				<h2>Ирина</h2>
				<p>менеджер по работе<br>с клиентами, организация<br>оказания услуг</p>
			</div>
			<div class="human">
				<img src="img/worker/IMG_2522_0.jpg" height="180" width="180" alt="">
				<h2>Даша</h2>
				<p>SEO, веб-маркетинг</p>
			</div>
			<div class="human">
				<img src="img/worker/IMG_9971_16.jpg" height="180" width="180" alt="">
				<h2>Саша</h2>
				<p>технический директор</p>
			</div>
			<div class="human">
				<img src="img/worker/IMG_2474_1.jpg" height="180" width="180" alt="">
				<h2>Вадим</h2>
				<p>UX/UI дизайн</p>
			</div>
		</div>
	</div>
	<div id="reviews" class="reviews">
		<div class="reviews-img-container">
			<img src="img/right-quote-sign.svg" alt="">
		</div>
		<h2>Отзывы</h2>
		<div class="bg-rectangle">
			<section id="image-carousel" class="splide" aria-label="Beautiful Images">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/cableman_ru.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/farbors_ru.jpg" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/logo-estee.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/logo.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/logo_0.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/logo_2.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. компания!
								</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/lpcma_rus_v4.jpg" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.							</p>
							</div>
						</li>
						<li class="splide__slide">
							<div class="review-img-container">
								<img src="img/company-logo/nashagazeta_ch.png" alt="">
							</div>
							<div class="review-text-container">
								<p class="review-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.							</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div class="webform" id="webform">
		<div class="webform-container">
			<section class="form-text">
				<h2>Оставить заявку на поддержку сайта</h2>
				<p class="form-p-text">Срочно нужна поддержка сайта? Ваша команда не успевает справиться самостоятельно или предыдущий подрядчик не справился с работой? Тогда вам точно к нам! Просто оставьте заявку и наш менеджер с вами свяжется!</p>
				<div class="form-text-contacts">
					<span>
						<i class="fa-solid fa-phone"></i>
						8 800 222-26-73
					</span>
					<span>
						<i class="fa-solid fa-envelope"></i>
						info@drupal-coder.ru
					</span>
				</div>
			</section>
			<section class="formcarry-container">
				<!-- login_section -->
   				<!-- credentials_section -->
   				<!-- logout_button -->
				<h2>Регистрация</h2>
				<form action="submit_form.py" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
					
					<div class="formcarry-block">
						<input type="text" id="last_name" placeholder="Фамилия" name="last_name" maxlength="50" required
							  value="{{ last_name }}" class="{{ last_name_error_class }}">
						<span class="error-message">{{ last_name_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<input type="text" id="first_name" placeholder="Имя" name="first_name" maxlength="50" required
							   value="{{ first_name }}" class="{{ first_name_error_class }}">
						<span class="error-message">{{ first_name_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<input type="text" id="patronymic" placeholder="Отчество" name="patronymic" maxlength="50"
							   value="{{ patronymic }}" class="{{ patronymic_error_class }}">
						<span class="error-message">{{ patronymic_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<input type="tel" id="phone" placeholder="Телефон" name="phone" required
							   value="{{ phone }}" class="{{ phone_error_class }}">
						<span class="error-message">{{ phone_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<input type="email" id="email" placeholder="Почта" name="email" required
							   value="{{ email }}" class="{{ email_error_class }}">
						<span class="error-message">{{ email_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<input type="date" id="birthdate" placeholder="Дата рождения" name="birthdate" required
							   value="{{ birthdate }}" class="{{ birthdate_error_class }}">
						<span class="error-message">{{ birthdate_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<div style="color: white; margin-bottom: 10px;">Пол:</div>
						<div style="display: flex; align-items: center; gap: 15px;">
							<label for="male" style="color: white; display: flex; align-items: center;">
								<input type="radio" id="male" name="gender" value="male" required {{ male_checked }} 
									   style="margin-right: 5px; width: auto;"> Мужской
							</label>
							<label for="female" style="color: white; display: flex; align-items: center;">
								<input type="radio" id="female" name="gender" value="female" required {{ female_checked }}
									   style="margin-right: 5px; width: auto;"> Женский
							</label>
						</div>
						<span class="error-message">{{ gender_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<select id="languages" name="languages[]" multiple required
								style="width: 100%; font-size: 14px; margin: 1dvh 0; border-radius: 3px; padding: 1rem 2rem; 
									   background-color: #040613; border: 1px solid rgba(255, 255, 255, 0.3); 
									   color: white; font-weight: 700; outline: none; height: auto;">
							<option value="Pascal" {{ pascal_selected }}>Pascal</option>
							<option value="C" {{ c_selected }}>C</option>
							<option value="C++" {{ cpp_selected }}>C++</option>
							<option value="JavaScript" {{ javascript_selected }}>JavaScript</option>
							<option value="PHP" {{ php_selected }}>PHP</option>
							<option value="Python" {{ python_selected }}>Python</option>
							<option value="Java" {{ java_selected }}>Java</option>
							<option value="Haskel" {{ haskel_selected }}>Haskel</option>
							<option value="Clojure" {{ clojure_selected }}>Clojure</option>
							<option value="Prolog" {{ prolog_selected }}>Prolog</option>
							<option value="Scala" {{ scala_selected }}>Scala</option>
							<option value="Go" {{ go_selected }}>Go</option>
						</select>
						<span class="error-message">{{ languages_error }}</span><br>
					</div>
			
					<div class="formcarry-block">
						<textarea id="bio" placeholder="Биография" name="bio" rows="4" required class="{{ bio_error_class }}">{{ bio }}</textarea>
						<span class="error-message">{{ bio_error }}</span><br>
					</div>
			
					<div class="formcarry-block" id="agree-block">
						<input type="checkbox" id="terms" required name="contract" required {{ contract_checked }}>
						<label for="contract" id="agree-label">С контрактом ознакомлен(а)</label>
						<span class="error-message">{{ contract_error }}</span><br>
						<br></br>
					</div>
					
					<div class="formcarry-block">  
						<button id="send" type="submit">Сохранить</button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<div class="footer">
		<p>Проект ООО «Инитлаб», Краснодар, Россия.</p>
		<p>Drupal является зарегистрированной торговой маркой Dries Buytaert.</p>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
